/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    padding: 4rem;
    color: white;
    font-size: 6rem;
    text-align: center;
}